.ane-content {
    h2 {
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 30px;

        @include mobile {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
    h3 {
        font-size: 23px;
        line-height: 1.2;
        margin-bottom: 30px;
        @include mobile {
            font-size: 19px;
            margin-bottom: 20px;
        }
    }
    h4 {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 30px;
        @include mobile {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    p {
        margin-bottom: 30px;

        @include mobile {
            margin-bottom: 20px;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        list-style: none;

        li {
            margin-left: 0;
            list-style: none;
            position: relative;
            padding-left: 20px;

            &:before {
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                content: '\e901';
                font-family: FontAne;
                font-size: 10px;
                line-height: 1.7rem;
                color: var(--ane-warna-utama);
                font-weight: 400;
            }
            ul {
                margin: 10px 0;

                li {
                    &:before {
                        content: '\2022';
                        font-size: 20px;
                        line-height: 1.2;
                        color: var(--ane-warna-alternatif);
                    }
                    ul {
                        margin: 10px 0;

                        li:before {
                            content: '\25AA';
                            font-size: 20px;
                            line-height: 1.2;
                            color: var(--ane-warna-utama);
                        }
                    }
                }
            }
        }
    }
    ol {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        list-style: none;
        counter-reset: li;

        li {
            padding-left: 15px;
            counter-increment: li;


            &:before {
                content: counter(li);
                color: var(--ane-warna-utama);
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-weight: 700;
            }

            ol {
                margin: 20px 0;
                padding-left: 25px;
                counter-reset: revert;

                li {
                    list-style-type: lower-latin;
                    padding-left: 5px;

                    &:before {
                        content:'';
                    }
                    ol {
                        margin: 20px 0;
                        padding-left: 25px;
                        counter-reset: revert;

                        li {
                            list-style-type: lower-roman;
                            padding-left: 5px;

                            &:before {
                                content:'';
                            }
                       }
                    }
               }
            }
        }
    }
    .wp-block-gallery {
        margin-bottom: 30px;

        ul.blocks-gallery-grid {
            padding: 0;
            margin: 0;
            list-style: none;
            li.blocks-gallery-item {
                padding: 0;
                margin: 0;
                &:before {
                    content: '';
                }
            }

        }
        .blocks-gallery-item figure {
            margin: 3px;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            margin: 5px;

            figcaption {
                line-height: 1.2;
                padding: 28px 10px 9px;
                font-size: 10px;
            }
        }

        @include mobile {
            @include DisplayLebar;
            margin-bottom: 20px;
            .blocks-gallery-item {
                figure {
                    border-radius: 3px;
                }
            }
        }
    }
    .wp-block-group__inner-container {
        display: block;
    }
    .wp-block-image {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 0;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 5px;
            position: relative;
        }

        figcaption {
            margin-top: 0;
            margin-bottom: 0;
            display: block;
            padding: 10px;
            padding-bottom: 0;
            font-size: 14px;
            text-align: center;
            font-style: italic;
            width: 100%;
        }

        @include mobile {
            margin-bottom: 20px;
            @include DisplayLebar;

            img {
                border-radius: 0;
            }
        }
    }
    .size-full,
    .size-medium,
    .size-large {
        margin-bottom: 30px;
    }
    .size-thumbnail {
        width: 100%;
        max-width: fit-content;
        margin: auto;
        margin-bottom: 30px;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
        }
        @include mobile {
            img {
                border-radius: 3px;
            }
        }
    }
    .alignleft {
        margin-bottom: 0;
        margin-right: 1em;
        figcaption {
            margin-bottom: 10px;
        }
        @include mobile {
            margin: auto;
        }
    }
    .alignright {
        margin-bottom: 0;
        margin-left: 1em;
        figcaption {
            margin-bottom: 10px;
        }
        @include mobile {
            margin: auto;
        }
    }

    .wp-block-cover {
        margin-bottom: 30px;

        @include mobile {
            @include DisplayLebar;
        }
    }

    .wp-block-embed {
        width: 100%;
        display: block;
        margin: 1rem 0;
        margin-bottom: 30px;

        .wp-block-embed__wrapper {
            margin-top: 15px;
            position: relative;
            padding-top: 30px;
            height: 0 !important;
            min-height: 0;
            padding-bottom: 47.25%;
            overflow: hidden;
            margin-bottom: 0;

            iframe {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    figure {
        margin-bottom: 30px;
    }

    .post-nav {
        @include DisplayBlock;
        margin-bottom: 30px;

        @include mobile {
            @include DisplayLebar;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 3px solid rgba(var(--ane-warna-gelap-rgb), 0.07);
            text-align: left;
        }
        
        span {
            color: var(--ane-warna-gelap);
            display: block;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 1.2rem;

            @include mobile {
                text-align: left;
            }

            i {
                font-size: 12px;
                line-height: 1.2rem;
            }
        }
    }
    blockquote {
        margin: 20px 0;
        padding: 30px;
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        p {
            font-weight: 600;
            font-style: italic;
            font-size: 1.3rem;
            line-height: 1.3;
        }
        &:before {
            content:"\f10d";
            font-family:'FontAwesome';
            color: rgba(var(--ane-warna-gelap-rgb),0.1);
            font-style: normal;
            font-size: 70px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: -10px;
            z-index: -1;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        & cite {
            font-size: 0.8rem;
            font-weight: 700;
            &:before {
                content: "~";
                padding-right: 5px;
            }
        }

        @include mobile {
            margin-bottom: 20px;

            p {
                font-size: 19px;
            }
        }
    }
    .wp-block-media-text {
        @include mobile {
            display: block;
            width: 100%;
            position: relative;
            margin-bottom: 30px;

            .wp-block-media-text__media {
                width: 100%;
                margin-bottom: 15px;
            }
            .wp-block-media-text__content {
                width: 100%;
                text-align: center;

                p.has-large-font-size {
                    font-size: 19px !important;
                    font-weight: 700;
                    line-height: 1.5;
                }
            }
        }
    }

    .wp-block-table {
        border-collapse: collapse;
        width: 100%;
        padding: 10px 0;
        border-bottom: 3px solid var(--ane-warna-utama);
        margin-bottom: 30px;

        thead {
            tr {
                background-color: var(--ane-warna-utama);
                color: var(--ane-warna-putih);
                text-align: left;
                th {
                    width: max-content;
                    text-wrap: wrap;
                    padding: 12px 15px;
                }
            }
        }
        th,
        td {
            padding: 12px 15px;
        }
        tbody {
            tr {
                border-bottom: 1px solid var(--ane-warna-terang);

                &:nth-of-type(even) {
                    background-color: var(--ane-warna-terang);
                }
                // &:last-of-type {
                //     border-bottom: 2px solid var(--ane-warna-utama);
                // }
                .active-row {
                    font-weight: bold;
                    color: var(--ane-warna-utama);
                }
            }
        }

        @include mobile {
            @include DisplayLebar;
            border-radius: 0;
        }
    }
    .wp-block-file {
        @include DisplayBlock;
        margin-bottom: 50px;

        .wp-block-file__button {
            border-radius: 30px;
            padding: 15px 30px;
            text-transform: uppercase;
            font-size: 15px;
            transition: all .5s ease-in;
            background-image: linear-gradient(to right, var(--ane-warna-utama), var(--ane-warna-utama-2));
            color: var(--ane-warna-terang);
            border: 1px solid var(--ane-warna-utama);

            &:hover {
                color: var(--ane-warna-utama);
                background-color: var(--ane-warna-terang);
                background-image: linear-gradient(to right, var(--ane-warna-terang), var(--ane-warna-putih));
                border: 1px solid var(--ane-warna-terang);
            }
        }
        @include mobile {
            margin-bottom: 20px;
            .wp-block-file__button {
                border-radius: 15px;
                padding: 8px 25px;
                font-size: 13px;
            }
        }
    }

    .wp-block-group {
        @include DisplayBlock;
        margin-bottom: 30px;
    }
    .has-background {
        padding: 20px;
        border-radius: 5px;

        .wp-block-latest-posts {
            margin-bottom: 0;
        }
    }

    .wp-block-yoast-faq-block {
        .schema-faq-section {
            strong {
                font-size: 18px;
            }
            p {
                font-size: 16px;
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    .comments-form {
        @include DisplayBlock;
        margin-bottom: 30px;
        position: relative;

        iframe {
            width: 100%;
        }
    }

    .ane-konten-lis {
        .entry-content {
            h2 {
                padding: 0;

                &:before {
                    content: '';
                    background-color: inherit;
                }
            }
        }
    }
    .post-tags {
        @include DisplayBlock;
        margin-bottom: 30px;

        @include mobile {
            @include DisplayLebar;
            border-bottom: 3px solid rgba(var(--ane-warna-gelap-rgb), 0.07);
            padding-bottom: 20px;
            margin-bottom: 20px;
            
        }

        &-wrapper {
            @include DisplayBlock;
            @include mobile {
                padding: 0 15px;
            }
            h2 {
                font-size: 18px;
                line-height: 1;
                margin-bottom: 15px;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: 0;

            li {
                padding: 0;
                margin-left: 0;
                font-size: 13px;
                line-height: 1;
                margin: 0 5px 5px 0;
                display: inline-block;
                background: rgba(var(--ane-warna-gelap-rgb),0.03);
                padding: 3px 10px;
                border-radius: 3px;
                transition: 0.5s;

                &:before {
                    position: relative;
                    content: '';
                    font-size: 14px;
                    color: var(--ane-warna-text);
                }

                a {
                    text-decoration: none;
                    color: var(--ane-warna-gelap);

                    &:before {
                        position: relative;
                        content: '#';
                        font-size: 14px;
                    }

                }

                &:hover {
                    background: var(--ane-warna-utama);

                    a {
                        color: var(--ane-warna-terang);
                    }
                }

            }
        }
    }
    .terkait-newest {
        @include FlexColumn;
        margin-bottom: 30px;

        .related-post {
            @include DisplayBlock;

            span {
                display: block;
                text-transform: capitalize;
                position: relative;
                padding-left: 15px;
                font-size: 23px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 15px;
                line-height: 1.2;
                letter-spacing: -0.8px;
                color: var(--ane-warna-utama);

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: var(--ane-warna-alternatif);
                    width: 8px;
                    height: 100%;
                    border-radius: 3px;
                }
            }

            a {
                color: var(--ane-warna-text);

                &:hover {
                    color: var(--ane-warna-utama);
                }
            }
        }
        .newest-post {
            @include DisplayBlock;

            span {
                display: block;
                text-transform: capitalize;
                position: relative;
                padding-left: 15px;
                font-size: 23px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 15px;
                line-height: 1.2;
                letter-spacing: -0.8px;
                color: var(--ane-warna-utama);

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: var(--ane-warna-alternatif);
                    width: 8px;
                    height: 100%;
                    border-radius: 3px;
                }
            }
            a {
                color: var(--ane-warna-text);

                &:hover {
                    color: var(--ane-warna-utama);
                }
            }

        }

    }
}
