.floating-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background:var(--ane-warna-gelap);
    border-radius: 50%;
    text-align: center;
    color: var(--ane-warna-terang);
    cursor: pointer;
    transition: all 0.9s;
    z-index: 89;
    @include mobile {
        display: none;
    }
    &::before {
        content: '\e96c';
        font-family: "FontAne";
        line-height: 60px;
        font-size: 20px;
    }
}


.floating-chat.expand {
    width: 400px;
    height: max-content;
    border-radius: 10px;
    z-index: 9999;
    overflow: hidden;
}

.chat {
    display: none;
}
.expand {
    &::before {
        content: '';
    }
    
}
.floating-chat.expand .chat {
    display: block;
    .header {
        background-color: var(--ane-warna-utama);
        padding: 10px 15px;
        line-height: 1;
        @include FlexRow;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        span {
            flex: 1;
        }

        .ane-close {
            background-color: rgba(var(--ane-warna-putih-rgb), 0.7);
            border-radius: 50%;
            font-size: 14px;
            width: 30px;
            height: 30px;
            margin: auto;
            text-align: center;
            line-height: 33px;
            color: var(--ane-warna-utama);
        }
    }
    .mesej {
        @include FlexColumn;
        width: 100%;
        background-color: var(--ane-warna-putih);
        padding-bottom: 20px;
        &-header {
            padding: 10px 15px;
            background-color: var(--ane-warna-terang);
            border-radius: 10px;
            position: relative;
            width: 92%;
            text-align: left;
            margin: 10px auto;
            &::before {
                border-block-end-color: transparent;
                border-block-end-width: 20px;
                border-block-start-color: transparent;
                border-block-start-width: 0;
                border-inline-end-color: var(--ane-warna-terang);
                border-inline-end-width: 20px;
                border-inline-start-color: transparent;
                border-inline-start-width: 0;
                border-style: solid;
                content: "";
                height: 0;
                inset-inline-start: -10px;
                position: absolute;
                top: 0;
                width: 0;
            }
            p {
                font-size:16px;
                line-height: 1.4;
            }
        }
        &-box {
            @include FlexRow;
            width: 95%;
            margin: 0 auto 15px auto;
            border: 1px solid rgba(var(--ane-warna-gelap-rgb), 0.08);
            border-radius: 10px;
            position: relative;
            padding: 10px 15px;
            align-items: center;
            background-color: var(--ane-warna-putih);
            justify-content: space-between;

            input {
                width: 90%;
                border: 0;
                padding: 0;
                height: inherit;
                line-height: 1.2;

                &:active {
                    border: 0;
                }
                &:focus {
                    border: 0;
                    outline: none;
                }
            }
            button {
                cursor: pointer;
                border: 0;
                background: transparent;
            }
        }
        & ul {
            @include FlexColumn;
            height: auto;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 95%;
            margin: 0 auto;

            .body-pilihan {
                text-align: center;
                margin-bottom: 20px;
                h4 {
                    font-size: 18px;
                    line-height: 1.3;
                    margin-bottom: 0;
                }
            }
    
            li {
                cursor: pointer;
                font-size: 15px;
                line-height: 1.3;
                font-style: italic;
                @include FlexRow;
                width: 100%;
                margin-bottom: 10px;
                    align-items: center;
                    background-color: var(--ane-warna-terang);
                    border-radius: 5px;
                    padding: 8px;
                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 15px;
                        border-radius: 5px;
                    }
                    p {
                        font-size: 15px;
                        font-weight: 600;
                        font-style: normal;
                        text-align: left;
                        span {
                            display: block;
                            width: 100%;
                            font-size: 14px;
                            font-style: italic;
                            color: var(--ane-warna-utama);
                        }
                    }
                &:last-child {
                    margin-bottom: 0
                }
                 
                
                a {
                    color: var(--ane-warna-gelap);
                    text-align: left;
                    &:hover {
                        color: var(--ane-warna-utama);
                    }
                }
    
                &:hover {
                    background: var(--ane-warna-terang);
                }
    
            }
        }
    }
}

.fa-arrow-down {
    cursor: pointer;
}

// Animation
// --------------------------------------
@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}

ul.ane-cs-mobile {
    display: none;
    @include mobile {
        @include FlexColumn;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        
    
        .body-pilihan {
            text-align: center;
            margin-bottom: 20px;
            h4 {
                font-size: 18px;
                line-height: 1.3;
                margin-bottom: 0;
            }
        }
    
        li {
            cursor: pointer;
            font-size: 15px;
            line-height: 1.3;
            font-style: italic;
            @include FlexRow;
            width: 100%;
            margin-bottom: 10px;
                align-items: center;
                background-color: var(--ane-warna-terang);
                border-radius: 5px;
                padding: 8px;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 15px;
                    border-radius: 5px;
                }
                p {
                    font-size: 15px;
                    font-weight: 600;
                    font-style: normal;
                    text-align: left;
                    span {
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        font-style: italic;
                        color: var(--ane-warna-utama);
                    }
                }
            &:last-child {
                margin-bottom: 0
            }
             
            
            a {
                color: var(--ane-warna-gelap);
                text-align: left;
                &:hover {
                    color: var(--ane-warna-utama);
                }
            }
    
            &:hover {
                background: var(--ane-warna-terang);
            }
    
        }
    }
}