.ane-konten-testimoni {
    width: 100%;
    position: relative;
    display: block;
    padding: 90px 30px 30px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: var(--ane-warna-putih);
    border: 1px solid var(--ane-warna-terang);
    overflow: hidden;
    
    &::before {
        content: "î¥…";
        font-family: "FontAne";
        color: var(--ane-warna-terang);
        font-style: normal;
        font-size: 30px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;
        width: 55px;
        height: 55px;
        background-color: var(--ane-warna-utama);
        padding: 10px;
        border-radius: 0 0 65px 0;
        line-height: 47px;
        padding-left: 15px;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 30px;
        z-index: 1;
        display: block;
        width: 5px;
        height: 65px;
        background-color: var(--ane-warna-utama);
    }
    
    .entry-header {
        width: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        p {
            margin-bottom: 0;
        }
    }
    .post-content {
        @include DisplayFlex;
        align-content: center;

        .ane-image {
            width: 60px;
            height: 60px;
            border-radius: 3px 15px 3px 15px;
            overflow: hidden;
            margin-bottom: 0;
            margin-right: 15px;
            border: 1px solid rgba(var(--ane-warna-gelap-rgb), 0.08);
            @include mobile {
                width: 45px;
                height: 45px;
                margin-right: 10px;
            }
        }
        .orangnya {
            h2 {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: -0.6px;
                margin-bottom: 0;
                color: var(--ane-warna-gelap);
                @include mobile {
                    font-family: 17px;
                }

                a {
                    color: var(--ane-warna-gelap);
                }
            }
            p {
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
            }
        }
        
    }

    @include mobile {
        .entry-header {
            .ane-image {
                width: 40%;
            }

        }
        .post-content {
            width: 100%;
        }
    }
}

.ane-single-overlay {
    .entry-header {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 475px;
        position: relative;
        width: 100%;
        background-position: center center !important;
        margin-bottom:0;

        &:before {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, rgba(var(--ane-warna-gelap-rgb), 0)), to(var(--ane-warna-putih-rgb)));
            background: -webkit-linear-gradient(top, rgba(var(--ane-warna-gelap-rgb), 0) 0%, var(--ane-warna-putih-rgb) 100%);
            background: -o-linear-gradient(top, rgba(var(--ane-warna-gelap-rgb), 0) 0%, var(--ane-warna-putih-rgb) 100%);
            background: linear-gradient(to bottom, rgba(var(--ane-warna-gelap-rgb), 0) 0%, var(--ane-warna-putih-rgb) 100%);
            content: '';
            width: 100%;
            height: 100%;
        }
    }
    .breadcrumb {
        background-color: var(--ane-warna-putih);
        background-image: linear-gradient(to right, var(--ane-warna-terang), var(--ane-warna-putih));
        margin-bottom: 30px;

        a {
            color: var(--ane-warna-gelap);
            font-weight: bold;

            &:hover {
                color: var(--ane-warna-utama);
            }
        }
    }
    .entry-content {
        .ane-content {
            .ane-title {
                h1 {
                    font-size: 50px;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1;
                    text-shadow: 2px 6px rgba(var(--ane-warna-gelap-rgb), 0.08);
                    text-align: center;
                }
            }
        }
    }
}
.konten-terkait-v2 {
    margin-bottom: 40px;

    h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }
    .ane-konten-overlay {
        margin-bottom: 0;
        .entry-header {
            height: 225px;
            .post-content {
                padding: 50px 15px 20px 15px;
                h2 {
                    font-size: 20px;
                    margin-bottom: 0;
                }
            }

        }
    }
    .ane-konten-guru {
        margin-bottom: 0;
        .entry-header {
            margin-bottom: 0;
            .ane-image {
                border-radius: 0;
                width: 100%;
                border: 0;
                margin-bottom: 0;
            }
        }
    }
    @include mobile {
        margin-left: 15px;
        margin-bottom: 20px;

        h2 {
            font-size: 20px;
        }
        .owl-nav {
            display: none;
        }
    }
}
