.section-featured {
    @include DisplayBlock;
    background: var(--ane-warna-utama);
    margin-top: 0;
    padding: 50px 0 100px 0;
    position: relative;
    @include mobile {
        margin-top: 0;
        padding: 20px 15px;
    }

    &::before {
        position: absolute;
        z-index: 0;
        background-position: right bottom;
        background-repeat: repeat;
        background-image: url('../img/bg-svg.svg');
        background-size: 50px 50px;
        right: 0;
        width: 100%;
        bottom: 0;
        height: 100%;
        content: '';
        opacity: 0.08;

    }
    &::after {
        display: block;
        position: absolute;
        z-index: 1;
        background: linear-gradient(var(--ane-warna-utama), rgba(var(--ane-warna-putih-rgb),0));
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        opacity: 1;
        content: '';
    }

    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
        z-index: 2;

        li {
            width: calc(25% - 15px);
            position: relative;
            margin-right: 20px;
            margin-bottom: 30px;
            text-align: center;
            z-index: 1;
            border-radius: 10px;
            padding: 30px;
            -webkit-transition: 0.5s;
            transition: 0.8s;
            background: rgba(var(--ane-warna-putih-rgb), 0.7);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            overflow: hidden;

           
            &:nth-child(4n+4) {
                  margin-right: 0px;
            }


            .item {
                width: 100%;
                display: block;
                text-align: center;
                transition: 0.5s;

                .image {
                    margin: 10px 0;
                    filter: none;
                    transition: all 0.5s;
                }

                .content {
                    a {
                        color: var(--ane-warna-gelap);
                    }
                    h4 {
                        transition: all 0.5s;
                        text-transform:capitalize;
                        font-size: 23px;
                        font-weight: 700;
                        margin-top: 20px;
                        margin-bottom: 15px;
                        line-height: 120%;
                        letter-spacing: -0.6px;
                    }

                    p {
                        margin: 0 0 30px 0;
                        line-height: 22px;
                        font-size: 15px;
                    }
                    a.btn {
                        position: relative;
                        z-index: 2;
                        font-size: 14px;
                        box-shadow: 0 0 0;
                        padding: 7px 20px;
                        color: var(--ane-warna-putih);
                    }
                }
            }
            &:nth-child(1) {
                background: var(--ane-warna-alternatif);
                border: 0;
                
                .item {
                    .image {
                        filter: brightness(0) invert(1);
                    }
                    
                }
            }
            &:hover {
                background-color: var(--ane-warna-alternatif);
                box-shadow: rgba(var(--ane-warna-gelap-rgb), 0.3) 0px 19px 38px, rgba(var(--ane-warna-gelap-rgb), 0.22) 0px 15px 12px;

                &:before {
                    filter: brightness(0) invert(0);
                    opacity: 0.04;
                }
                .image {
                    filter: brightness(0) invert(0);
                }
                .item {

                    .content {
                        h4 {
                            color: var(--ane-warna-utama);
                        }

                        .btn-primary {
                            color: var(--ane-warna-utama);
                            background-color: var(--ane-warna-terang);
                            background-image: linear-gradient(to right, var(--ane-warna-terang), var(--ane-warna-putih));
                            border: 1px solid var(--ane-warna-terang);
                        }

                    }
                }

            }


        }
    }
    @include tablet {
        ul {
            li {
                width: calc(25% - 8px);
                margin-right: 10px;
                padding: 0;
                margin-bottom: 0;
                min-height: auto ;

                .item {
                    display: block;
                    position: relative;
                    z-index: 2;
                    .content {
                        h4 {
                            font-size: 15px;
                        }
                        p {
                            display: none;
                        }
                        .btn {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @include mobile {


        &:after {
            background-position: left;
        }

        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            li {
                width: calc(50% - 8px);
                margin-right: 15px;
                margin-bottom: 15px;
                padding: 0;
                border-radius: 5px;
                min-height: 0;
                box-shadow: 0 0 20px rgba(var(--ane-warna-gelap-rgb), 0.1);

                &::before {
                    background-position: center;
                }

                &:nth-child(2n+2) {
                    margin-right: 0px;
                }

                .item {
                    padding: 20px;
                    .image {
                        width: 30%;
                        margin: auto;
                        margin-bottom: 10px;
                        img {
                            width: 100%;
                        }
                    }
                    .content {
                        padding: 0;
                        display: block;
                        position: relative;
                        z-index: 2;
                        
                        h4 {
                            font-size: 1.1rem;
                            margin: 0;
                            word-wrap: break-word;
                        }
                        p {
                            display: none;
                        }
                        .btn-primary {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
