.ane-linktree {
    background: var(--ane-warna-gelap);
    .webane-wrapper {
        max-width: 400px;
        margin: auto;
    }
    .linktree-content {
        @include DisplayBlock;
        width: 100%;
        max-width: 750px;
        margin: auto;
        padding: 60px 15px;
        
       

        .entry-header {
            padding-bottom: 20px;
            text-align: center;
            border-bottom: 1px dashed rgba(var(--ane-warna-putih), 0.3);
            margin-bottom: 0;
            .ane-logo {
                width: 60%;
                height: auto;
                margin: auto;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    filter: brightness(0) invert(1);
                }
            }
            .ane-title {
                h2 {
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    color: var(--ane-warna-utama);
                }
                h3 {
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 0;
                    color: var(--ane-warna-alternatif);
                    font-style: italic;
                }
            }
        }
        .entry-content {
            display: block;
            width: 100%;
            padding: 20px 0 10px 0;

            a {
                color: var(--ane-warna-putih);
            }

            .ane-links {
                width: 100%;
                display: flex;
                align-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: row;
                padding: 5px 20px;
                border: 1px solid rgba(var(--ane-warna-putih-rgb), 0.06);
                background: rgba(var(--ane-warna-putih-rgb), 0.04);
                border-radius: 24px;
                margin-bottom: 10px;

                .icon-ane {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    background: var(--ane-warna-putih);
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .ane-label {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(var(--ane-warna-putih), 0.5);
                }
            }
            .whatsapp {
                .icon-ane {
                    background: #04b33e;

                    &:after {
                        content: "\e953";
                        font-family: 'FontAne';
                        color: var(--ane-warna-putih);
                        font-size: 15px;
                        line-height: 30px;
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        display: block;
                    }
                    
                }
            }
            .website {
                .icon-ane {
                    background: var(--ane-warna-utama);

                    &:after {
                        content: "\e9cb";
                        font-family: 'FontAne';
                        color: var(--ane-warna-putih);
                        font-size: 15px;
                        line-height: 30px;
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        display: block;
                    }
                    
                }
            }
            .tiktok {
                .icon-ane {
                    background: url('../img/logo-tiktok.png');
                    background-color: var(--ane-warna-putih);
                }
            }
            .telegram {
                .icon-ane {
                    background: url('../img/logo-telegram.png');
                    background-color: var(--ane-warna-putih);
                }
            }

        }

        .entry-footer {
            border-top: 1px dashed rgba(var(--ane-warna-putih), 0.3);
            padding: 20px 0 0 0;

            h2 {
                font-size: 14px;
                font-weight: 600;
                color: var(--ane-warna-putih);
                text-align: center;
                margin-bottom: 20px;
            }
            .ane-sosmed {
                
                ul {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    width: 100%;
                    a {
                        color: var(--ane-warna-putih);
                        width: 100%;
                    }
                    
                    li {
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;
                        border: 1px solid rgba(var(--ane-warna-putih), 0.4);
                        border-radius: 20px;
                        display: flex;
                        padding: 5px 20px;
                        align-content: center;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 600;

                        i {
                            font-size: 15px;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            background: var(--ane-warna-putih);
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        i.ane-whatsapp {
                            color: #04b33e;
                        }
                        i.ane-facebook {
                            color: #4867aa;
                        }
                        i.ane-youtube {
                            color: red;
                        }
                        i.ane-twitter {
                            color: #1da1f2;
                        }
                        i.ane-instagram {
                            color: #d23095;
                        }
                        i.ane-tiktok {
                            color: #000000;
                        }
                        i.ane-telegram {
                            color: #0088cc;
                        }
                        i.ane-threads {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.705 11.108c-.162-2.987-1.794-4.697-4.534-4.714c-1.652-.01-3.033.69-3.879 1.973L9.8 9.4c.634-.961 1.635-1.16 2.36-1.153c.903.006 1.583.268 2.024.78c.32.372.535.887.642 1.536q-1.202-.204-2.59-.125c-2.606.15-4.28 1.67-4.168 3.781c.057 1.071.59 1.993 1.502 2.595c.77.509 1.764.757 2.795.701c1.363-.075 2.432-.594 3.178-1.545c.566-.722.924-1.658 1.082-2.836c.65.392 1.13.907 1.397 1.527c.452 1.054.478 2.786-.935 4.198c-1.238 1.236-2.726 1.772-4.975 1.788c-2.495-.018-4.382-.819-5.608-2.378c-1.15-1.46-1.743-3.57-1.765-6.269c.022-2.7.616-4.809 1.765-6.27c1.226-1.559 3.113-2.359 5.608-2.377c2.513.019 4.432.822 5.706 2.39c.625.768 1.095 1.734 1.406 2.86l1.766-.47c-.377-1.387-.969-2.582-1.774-3.573c-1.633-2.01-4.033-3.039-7.11-3.06c-3.071.021-5.432 1.055-7.019 3.071c-1.411 1.795-2.14 4.306-2.164 7.436c.024 3.13.753 5.627 2.164 7.422c1.587 2.016 3.96 3.05 7.03 3.071c2.731-.019 4.655-.734 6.24-2.317c2.075-2.073 2.012-4.67 1.329-6.264c-.525-1.225-1.57-2.206-2.98-2.81m-4.438 4.557c-1.142.064-2.328-.448-2.387-1.546c-.043-.814.58-1.722 2.457-1.83a9.4 9.4 0 0 1 2.533.174c-.216 2.702-1.485 3.14-2.603 3.202'/%3E%3C/svg%3E");
                            background-color: currentColor;
                            -webkit-mask-image: var(--svg);
                            mask-image: var(--svg);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            -webkit-mask-size: 100% 100%;
                            mask-size: 100% 100%;
                            color: #000000;
                        }
                        i.ane-linkedin {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z'/%3E%3C/svg%3E");
                            background-color: currentColor;
                            -webkit-mask-image: var(--svg);
                            mask-image: var(--svg);
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            -webkit-mask-size: 100% 100%;
                            mask-size: 100% 100%;
                            color: #0077b5;
                        }


                        span {
                            font-size: 14px;
                            line-height: 30px;
                        }
                       
                    }
                }
            }
        }
    }
}