#footer-bar {
    display: none;

    @include mobile {
        width: 100%;
        position:fixed;
        bottom:0;
        left:0;
        z-index:9999;
        background: var(--ane-warna-text);
        min-height:60px;
        height:calc(62px + (constant(safe-area-inset-bottom))*1.1);
        height:calc(62px + (env(safe-area-inset-bottom))*1.1);
        display:flex;
        text-align:center;
        margin: auto;
        border-top: 2px solid var(--ane-warna-utama);
        border-radius: 10px 10px 0 0;

        a {
            color:var(--ane-warna-terang);
            padding-top:12px;
            position:relative;
            flex: 1 1 auto;

            &:nth-child(3) {
                background-color:var(--ane-warna-utama);
                color: var(--ane-warna-gelap);
            }

            span {
                position:relative;
                z-index:2;
                display:block;
                font-size:12px;
                font-weight:500;
                margin-top:-6px;
                line-height: 26px;
                color: rgba(var(--ane-warna-putih-rgb),0.7);
                
            }
            i {
                font-size:24px;
                position:relative;
                z-index:2;
                color: rgba(var(--ane-warna-putih-rgb),0.8);
                margin-bottom: 4px;
            }

            &:hover {
                color: var(--ane-warna-putih);
            }

        }

        .badge {font-style:normal;z-index:5;top:0;position:absolute;margin-left:3px;color:var(--ane-warna-putih)!important;width:18px;text-align:center;line-height:18px;padding:0;padding-left:0!important;border-radius:18px;margin-top:7px;font-size:11px;
        }
    }
}

.ane-mobile-nav {
    width: 100%;

    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li {
            width: calc(25% - 8px);
            margin-right: 10px;
            margin-bottom: 10px;
            margin-left: 0;
            padding: 10px 0;
            text-align: center;
            border-radius: 8px;
            background: rgba(var(--ane-warna-putih-rgb),0.8);
            -webkit-box-shadow: 0 0 40px rgba(var(--ane-warna-text-rgb), 0.1);
            box-shadow: 0 0 40px rgba(var(--ane-warna-text-rgb), 0.1);
            overflow: hidden;

            &:before {
                content: '';
            }

            &:nth-child(4n+4) {
                  margin-right: 0px; }
            i {
                display: block;
                font-size: 40px;
                color: var(--ane-warna-utama);
            }
            img {
                display: block;
                margin: auto auto 5px auto;
                max-width: 40px;
            }
            span {
              color: var(--ane-warna-text);
              font-size: 16px; }
        }
    }

    @include mobile  {
        ul {
            li {
                width: calc(50% - 8px);

                &:nth-child(2n+2) {
                      margin-right: 0px; }

            }
        }
    }
}
.ane-mobile-cat {
    @include FlexColumn;
    width: 100%;
    padding-top: 65px;

    .isi {
        h1 {
            font-size: 1.8rem;
            line-height: 1;
            margin-bottom: 30px;
            font-weight: 600;
            text-align: center;
        }
        .pilih-kategori {
            margin-bottom: 30px;
        }
        .ane-newest {
            margin-bottom: 30px;
        }

    }
}
.mobile-populer {
    margin-bottom: 30px;
    .ane-konten-overlay {
        .entry-header {
            height: 268px;

            .post-content {
                padding: 15px;
                text-align: center;

                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.2;
                    margin-bottom: 0;
                }
                .ane-meta {
                    display: none;
                }
            }
        }
    }
}
