.ane-meta {
    @include DisplayBlock;

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        align-items: center;

        li {
            font-size: 13px;
            line-height: 1.3;
            margin-right: 8px;
            max-width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            

            &::before {
                content: '' !important;
            }

            &:last-child {
                margin-right: 0;
            }

            i {
                color: var(--ane-warna-utama);
            }
            a {
                color: var(--ane-warna-gelap);
                font-weight: 500;
                margin-right: 5px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
.content-category {
    a {
        margin-right: 8px;

        &:after {
            content:',';
        }
        &:last-child {
            margin-right: 0;

            &:after {
                content: '';
            }
        }
    }
}

.ane-post-single {
    display: block;
    width: 100%;
    margin: auto;


    .single-post-header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-bottom: 0;
        min-height: 120px;

        &:before {
            position: absolute;
            background: -webkit-linear-gradient(180deg, rgba(var(--ane-warna-gelap-rgb),0.7) 0%, rgba(var(--ane-warna-gelap-rgb),0.2) 100%);
            background: -o-linear-gradient(180deg, rgba(var(--ane-warna-gelap-rgb),0.7) 0%, rgba(var(--ane-warna-gelap-rgb),0.2) 100%);
            background: linear-gradient(180deg, rgba(var(--ane-warna-gelap-rgb),0.7) 0%, rgba(var(--ane-warna-gelap-rgb),0.2) 100%);
            left: 0;
            right: 0;
            width: 100%;
            top: 0;
            bottom: 0;
            height: 100%;
            content: '';
        }
    }
    .ane-breadcrumb {
        ul {
            li.current {
                display: none;
            }
        }
    }
    .entry-content {
        @include DisplayBlock;
        width: 60%;
        margin: auto;

        .ane-single-title {
            margin-bottom: 30px;
            display: block;
            text-align: left;
            h1 {
                margin-bottom: 20px;

                @include mobile {
                    margin-bottom: 15px;
                }
            }
            .ane-meta {
                font-weight: 500;
                ul {
                    
                    @include mobile {
                        justify-content: center;
                    }
                }
            }
        }

        .ane-image {
            margin-bottom: 20px;

            img {
                border-radius: 5px;
            }
            span {
                display: block;
                width: 100%;
                color: var(--ane-warna-text);
                font-size: 13px;
                font-style: italic;
                text-align: center;
                padding: 8px;
            }
        }

        .ane-content {
            padding: 0 120px;
            .ane-konten-lis {
                .entry-content {
                    .ane-meta {
                        ul {
                            margin-bottom: 0;
                            li {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }

    }
    @include laptop {
        .entry-content {
            width: 70%;
        }
    }
    @include tablet {
        .entry-content {
            width: 90%;

            .ane-content {
                padding: 0 80px;
            }
        }
    }
    @include mobile {
        width: 100%;
        padding-top: 65px;
        
        .single-post-header {
            display: none;
        }
        .entry-header {
            margin-bottom: 0;
        }
        .entry-content {
            width: 100%;
            .ane-single-title {
                padding: 0 15px;
                text-align: center;
            }
            .ane-image {

                img {
                    border-radius: 0;
                }
            }
            .ane-content {
                padding: 0 15px;
                .terkait-newest {
                    .related-post {
                        margin-bottom: 30px;
                    }
                    
                }

            }
        }
    }
}
.ane-konten-default {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;

    .entry-header {
        width: calc(40% - 15px);
        margin-right: 30px;
        margin-bottom: 0;
        border-radius: 5px;
        overflow: hidden;
    }
    .entry-content {
        width: calc(60% - 15px);

        h3,
        h2 {
            font-size: 22px;
            margin-bottom: 10px;
            letter-spacing: -0.45px;
            a {
                color: var(--ane-warna-gelap-rgb);

                &:hover {
                    color: var(--ane-warna-utama);
                }
            }
        }
        p {
            margin-top: 10px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}
.ane-konten-video {
    .entry-header {
        .ane-image {
            position: relative;
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                content: "\e944";
                font-family: 'FontAne';
                font-size: 20px;
                color: rgba(var(--ane-warna-putih-rgb), 0.5);
                background: rgba(var(--ane-warna-gelap-rgb), 0.3);
                display: flex;
                align-items: center;
                align-content: center;
                align-self: center;
                flex-direction: row;
                padding-left: 45%;
                transition: 0.5s;
                border-radius: 4px;
            }
        }
    }
    &:hover {
        .entry-header {
            .ane-image {
                &:after {
                    color: var(--ane-warna-putih);
                }
            }
        }
    }
}
.ane-konten-gallery {
    .entry-header {
        .ane-image {
            position: relative;
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                content: "\e928";
                font-family: 'FontAne';
                font-size: 20px;
                color: rgba(var(--ane-warna-putih-rgb), 0.5);
                background: rgba(var(--ane-warna-gelap-rgb), 0.3);
                display: flex;
                align-items: center;
                align-content: center;
                flex-direction: row;
                padding-left: 45%;
                transition: 0.5s;
                border-radius: 4px;
            }
        }
    }
    &:hover {
        .entry-header {
            .ane-image {
                &:after {
                    color: var(--ane-warna-putih);
                }
            }
        }
    }
}
.ane-konten-overlay {
    @include DisplayBlock;
    margin-bottom: 30px;

    .entry-header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        height: 437px;
        padding: 0;

        &:before {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, rgba(var(--ane-warna-gelap-rgb), 0)), to(rgba(var(--ane-warna-gelap-rgb), 0.85)));
            background: -webkit-linear-gradient(top, rgba(var(--ane-warna-gelap-rgb), 0) 14%, rgba(var(--ane-warna-gelap-rgb).85) 100%);
            background: -o-linear-gradient(top, rgba(var(--ane-warna-gelap-rgb), 0) 14%, rgba(var(--ane-warna-gelap-rgb), 0.85) 100%);
            background: linear-gradient(to bottom, rgba(var(--ane-warna-gelap-rgb), 0) 14%, rgba(var(--ane-warna-gelap-rgb), 0.85) 100%)!important;
            content: '';
            width: 100%;
            height: 100%;
        }
        .post-content {
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            padding: 60px 20px 20px 20px;
            width: 100%;
            color: var(--ane-warna-putih) !important;
            h3,
            h2 {
                color: var(--ane-warna-putih);
                margin-bottom: 0;
            }
            a {
                color: var(--ane-warna-putih-rgb)var(--ane-warna-putih) !important;

                &:hover {
                    color: var(--ane-warna-terang);
                }
            }
            .ane-meta {
                margin-top: 15px;
            }
        }
    }

    @include mobile {
        .entry-header {
            height: 221px;
            border-radius: 0;

            .post-content {
                padding: 50px 15px 15px 15px;


                h2 {
                    font-size: 17px;
                    letter-spacing: -0.3px;
                }
            }
        }
    }

}
.ane-konten-klasik {
    @include DisplayBlock;
    margin-bottom: 30px;

    .entry-header {
        margin-bottom: 21px;
        a {
            @include DisplayBlock;
        }
        img {
            border-radius: 4px;
        }
    }
    .post-content {
        @include DisplayBlock;
        h3,
        h2 {
            margin-bottom: 15px;
            a {
                color: var(--ane-warna-gelap-rgb);

                &:hover {
                    color: var(--ane-warna-utama);
                }
            }
        }
        p {
            margin-top: 15px;
        }
    }
}
.ane-konten-lis {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .entry-header {
        width: calc(30% - 8px);
        margin-right: 15px;
        display: block;
        padding: 0;
        margin-bottom: 0;

        .ane-image {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            img {
                border-radius: 5px;
            }
        }
    }
    .entry-content {
        width: calc(70% - 8px);
        margin-right: 0;
        h3,
        h2 {
            font-size: 17px;
            margin-bottom: 8px;
            margin-top: 0;
            letter-spacing: -0.3px;


            a {
                color: var(--ane-warna-gelap-rgb);

                &:hover {
                    color: var(--ane-warna-utama);
                }
            }
        }
    }
    @include mobile {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.ane-konten-lis-title {
    h2 {
        font-size: 20px;
        font-weight: 700;

        a {
            color: var(--ane-warna-text);

            &:hover {
                color: var(--ane-warna-utama);
            }
        }
    }
}
.post-meta-info {
    @include DisplayBlock;

    ul {
        padding: 0 !important;
        margin: 0 !important;
        list-style: 0;
        li {
            display: inline-block !important;
            margin-right: 10px;
            margin-left: 0 !important;
            padding: 0 !important;
            font-size: 14px !important;
            &:before {
                content: '' !important;
                padding: 0;
                margin: 0;
            }
        }
    }
}
.ane-konten-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .entry-header {
        width: calc(30% - 7.5px);
        margin-right: 15px;

        .ane-image {
           border-radius: 3px;
           overflow: hidden;
           margin-bottom: 0;
        }
    }
    .entry-content {
        width: calc(70% - 7.5px);
        padding: 0;

        a {
            color: var(--ane-warna-gelap);
            line-height: 1.2;
            font-weight: 700;
            font-size: 17px;
            margin-bottom: 0;
            margin-top: 0;
            letter-spacing: -0.3px;
            display: flex;
        }
    }
}
