* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@function weight($weight-name) {
    @return map-get($font-weight, $weight-name);
}

@mixin DisplayFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
@mixin FlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin FlexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@mixin DisplayBlock {
    display: block;
    width: 100%;
    height: auto;
}
@mixin Transisi {
    transition: all .8s ease-in;
}
@mixin PosisiRelatif {
    position: relative;
}
@mixin PosisiAbsolut {
    position: absolute;
}
@mixin p0m0 {
    padding: 0;
    margin: 0;
}
@mixin Bgblur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.5);
}
@mixin DisplayLebar {
    max-width: none;
    width: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
@mixin Gradient {
      background-color: var(--ane-warna-gelap-rgb);
      background-image: linear-gradient(to right, var(--ane-warna-utama) , var(--ane-warna-utama-2));
}
@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: 1025px) and (max-width: 1440px) {
        @content;
    }
}
