.right-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: var(--ane-warna-utama);
    border-radius: 10px;
    box-shadow: 0 2px 20px 2px rgba(var(--ane-warna-gelap-rgb),.1);
    padding: 0;
    background-image: linear-gradient(-25deg, rgba(var(--ane-warna-gelap-rgb), 0.5) 0%, rgba(var(--ane-warna-putih-rgb), 0.3) 100%);
                
    &:before {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 100%;
        background: url("../img/bg-svg.svg");
        background-size: 50px 50px;
        opacity: .04;
        content: "";
        z-index: 0;
    }

    .ane-sidebar {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 1;
        padding: 30px;
        @include mobile {
            padding: 20px 15px;
        }
        
        &:last-child {
            border-bottom: 0;
        }

        a {
            color: rgba(var(--ane-warna-putih-rgb), 0.7);

            &:hover {
                color: var(--ane-warna-alternatif);
            }
        }

        .wp-block-group {
            h2 {
                font-size: 20px;
                letter-spacing: -0.6px;
                margin-bottom: 30px;
                color: var(--ane-warna-gelap);
                padding: 15px 30px;
                background: rgba(var(--ane-warna-putih-rgb),.2);
                backdrop-filter: blur(2px);
                -webkit-backdrop-filter: blur(2px);
                line-height: 1;
                border-radius: 5px;
            }

        }
        h2.widget-title {
            font-size: 20px;
            letter-spacing: -0.6px;
            margin-bottom: 30px;
            color: var(--ane-warna-gelap);
            padding: 15px 30px;
            background: rgba(var(--ane-warna-putih-rgb),.2);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            line-height: 1;
            border-radius: 5px;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                font-size: 16px;
                list-style: none;
                position: relative;
                line-height: 1.4;
                padding-left: 20px;
                padding-bottom: 20px;
                margin-bottom: 15px;
                border-bottom: 1px solid rgba(var(--ane-warna-putih-rgb), 0.2);

                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                a {
                    color: rgba(var(--ane-warna-putih-rgb), 0.7);

                    &:hover {
                        color: var(--ane-warna-alternatif);
                    }
                }

                &:before {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    content: '\e901';
                    font-family: FontAne;
                    font-size: 7px;
                    line-height: 1.4rem;
                    color: var(--ane-warna-terang);
                    font-weight: 400;
                    color: var(--ane-warna-alternatif);
                }
            }
            li.cat-item {
                padding: 10px 0 10px 0;
                border-bottom: 1px solid rgba(var(--ane-warna-putih-rgb), 0.1);
                &:before {
                    content: '';
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
        .post-widget {
            .ane-konten-lis {
                .entry-content {
                    
                    h2 {
                        color: rgba(var(--ane-warna-putih-rgb), 0.3);
                        a {
                            color: rgba(var(--ane-warna-putih-rgb), 0.7);
                        }
                    }
                    .ane-meta {
                        ul {
                            li {
                                font-size: 12px;
                                margin: 0;
                                padding: 0;
                                border: 0;
                                color: rgba(var(--ane-warna-putih-rgb), 0.5);
                                margin-right: 10px;
                            }
                        }
                    }
                }
                &:hover {
                    h2 {
                        a {
                            color: var(--ane-warna-putih);
                        }
                    }
                }
            }
        }
        .tagcloud {
            a {
                background-color: rgba(var(--ane-warna-putih-rgb), 0.5);
                color: var(--ane-warna-utama);
                padding: 3px 8px;
                font-size: 14px !important;
                border-radius: 4px;
                padding: 5px 10px;
                margin-bottom: 5px;
                display: inline-block;
                text-transform: capitalize;
                @include Transisi;

                &:before {
                    content: '#';
                }

                &:hover {
                    color: var(--ane-warna-terang);
                    background-color: var(--ane-warna-utama);
                }

            }
        }
        .screen-reader-text {
            display: none;
        }

        .wp-block-image {
            img {
                border-radius: 4px;
            }
        }
        

    }

    @include mobile {
        margin-bottom: -30px;
        border-radius: 0;
    }

}
.ane-cari {
    @include DisplayBlock;
    position: relative;
    width: 100%;

    form {
        display: flex;
        flex: auto;
        flex-wrap: nowrap;
        max-width: 100%;

        input {
            padding: 8px;
            flex-grow: 1;
            min-width: 3em;
            border: 1px solid var(--ane-warna-utama);
        }
        button {
            background: var(--ane-warna-utama);
            border: 1px solid var(--ane-warna-utama-2);
            padding: .375em .625em;
            color: var(--ane-warna-terang);
            margin-left: .625em;
            word-break: normal;
            border-radius: 4px;
            cursor: pointer;

        }

        &:hover {
            input {
                border: 1px solid var(--ane-warna-utama-2);
            }
            button {
                background: var(--ane-warna-utama-2);
            }
        }
    }
}

.wp-block-search__input {
    border: 1px solid var(--ane-warna-terang);
    padding: 8px;
    border-radius: 5px;
    background: rgba(var(--ane-warna-putih-rgb),.2);
    box-shadow: 0 4px 30px rgba(var(--ane-warna-putih-rgb),.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(var(--ane-warna-putih-rgb),.23);
}
.wp-block-search__button {
    background: var(--ane-warna-alternatif);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}