@import './resets';
@import './kolom';
@import './icons';
@import './makhadane';
@import './button';
@import './sosmed';
@import './breadcrumb';
@import './header';
@import './landingpage';
@import './pageblog';
@import './slider';
@import './features';
@import './post';
@import './anecontent';
@import './page';
@import './arsip';
@import './sidebar';
@import './fasilitas';
@import './guru';
@import './customercare';
@import './footer';
@import './faq';
@import './mobileapp';
@import './linktree';
